---
import translations from "@utils/t.ts";
import Layout from "@layouts/Layout.astro";
import Container from "@src/components/Container.astro";

const t = translations(Astro.url);
---

<head>
	<title>Johnny MyungWon Lee - Other Activities</title>
	<meta charset="utf-8"/>
	<meta http-equiv="refresh" content="delay_time; URL=https://johnnymdoubleu.github.io/mw/cv.html" />
</head>

<Layout title="CV" description="Johnny's Curriculum vitae">
	<Container class="pt-16" set:html={t.activity_description}>
		<!-- <div set:html={t.about_description}></div> -->
	</Container>
	<!-- <Container> -->
		<!-- <p set:html={t.about_description} /> -->
		<!-- <iframe src="https://drive.google.com/file/d/1AD2mSfvGIz14wMjCT0gvQvQ1OeyBszRd/preview"></iframe> -->
	<!-- </Container> -->
</Layout>

<!-- <style>
	iframe {
		width : 100%; 
		min-height : 700px; 
		border: 5px inset #D12215; 
		border-radius: 12px;
	}
</style> -->