---
// import translations from "@utils/t.ts";
import Layout from "@layouts/Layout.astro";
import Container from "@src/components/Container.astro";

// const t = translations(Astro.url);
---

<Layout title="Johnny MyungWon Lee - Conferences" description="List of Talks and Poster Presentations">
	<Container class="pt-16">
		<ul class="alt">
			<li>
				<svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" style="display:inline-block;"><g fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2"><rect width="16" height="16" x="4" y="4" stroke-dasharray="64" stroke-dashoffset="64" rx="1"><animate fill="freeze" attributeName="stroke-dashoffset" dur="0.5s" values="64;0"/></rect><path stroke-dasharray="6" stroke-dashoffset="6" d="M7 4V2M17 4V2"><animate fill="freeze" attributeName="stroke-dashoffset" begin="0.5s" dur="0.2s" values="6;0"/></path><path stroke-dasharray="12" stroke-dashoffset="12" d="M7 11H17"><animate fill="freeze" attributeName="stroke-dashoffset" begin="0.8s" dur="0.2s" values="12;0"/></path><path stroke-dasharray="9" stroke-dashoffset="9" d="M7 15H14"><animate fill="freeze" attributeName="stroke-dashoffset" begin="1s" dur="0.2s" values="9;0"/></path></g><rect width="14" height="0" x="5" y="5" fill="#f32853"><animate fill="freeze" attributeName="height" begin="0.5s" dur="0.2s" values="0;3"/></rect></svg>
				<span>19th International Joint Conference CFE-CMStatistics 2025 @ European Research Consortium for Informatics and Mathematics (ERCIM); London, United Kingdom</span> - Bayesian Kolmogorov-Arnold Neural Model. (Invited Talk,
				<a class="home" href="https://www.cmstatistics.org/CFECMStatistics2025/organized.php" target="_blank" rel="noopener" class="summary-link">
					link</a>)
			</li>
			<li>
				<svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" style="display:inline-block;"><g fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2"><rect width="16" height="16" x="4" y="4" stroke-dasharray="64" stroke-dashoffset="64" rx="1"><animate fill="freeze" attributeName="stroke-dashoffset" dur="0.5s" values="64;0"/></rect><path stroke-dasharray="6" stroke-dashoffset="6" d="M7 4V2M17 4V2"><animate fill="freeze" attributeName="stroke-dashoffset" begin="0.5s" dur="0.2s" values="6;0"/></path><path stroke-dasharray="12" stroke-dashoffset="12" d="M7 11H17"><animate fill="freeze" attributeName="stroke-dashoffset" begin="0.8s" dur="0.2s" values="12;0"/></path><path stroke-dasharray="9" stroke-dashoffset="9" d="M7 15H14"><animate fill="freeze" attributeName="stroke-dashoffset" begin="1s" dur="0.2s" values="9;0"/></path></g><rect width="14" height="0" x="5" y="5" fill="#f32853"><animate fill="freeze" attributeName="height" begin="0.5s" dur="0.2s" values="0;3"/></rect></svg>
				<span>Royal Statistical Society International Conference (RSS) 2025 @ Royal Statistical Society; Edinburgh, United Kingdom</span> - Bayesian Kolmogorov-Arnold Neural Model. (Contributed Talk,
				<a class="home" href="https://virtual.oxfordabstracts.com/event/40660/program?program&date=%222025-9-3%22" target="_blank" rel="noopener" class="summary-link">
					link</a>)
			</li>
			<li>
				<svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" style="display:inline-block;"><g fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2"><rect width="16" height="16" x="4" y="4" stroke-dasharray="64" stroke-dashoffset="64" rx="1"><animate fill="freeze" attributeName="stroke-dashoffset" dur="0.5s" values="64;0"/></rect><path stroke-dasharray="6" stroke-dashoffset="6" d="M7 4V2M17 4V2"><animate fill="freeze" attributeName="stroke-dashoffset" begin="0.5s" dur="0.2s" values="6;0"/></path><path stroke-dasharray="12" stroke-dashoffset="12" d="M7 11H17"><animate fill="freeze" attributeName="stroke-dashoffset" begin="0.8s" dur="0.2s" values="12;0"/></path><path stroke-dasharray="9" stroke-dashoffset="9" d="M7 15H14"><animate fill="freeze" attributeName="stroke-dashoffset" begin="1s" dur="0.2s" values="9;0"/></path></g><rect width="14" height="0" x="5" y="5" fill="#f32853"><animate fill="freeze" attributeName="height" begin="0.5s" dur="0.2s" values="0;3"/></rect></svg>
				<span>14th International Conference on Extreme Value Analysis (EVA) 2025 @ Extreme Value Analysis; Chapel Hill, North Carolina, United States</span> - BLAST: A Bayesian Lasso for Tail Index Regression Model with an Application to Extreme Wildfires in Portugal. (Contributed Talk,
				<a class="home" href="https://rls.sites.oasis.unc.edu/EVA2025_Program_and_Book_of_Abstracts.pdf" target="_blank" rel="noopener" class="summary-link">
					link</a>)
			</li>
			<li><span>Bayesian Young Statistican Meeting (BAYSM) 2025 @ junior-International Soceity for Bayesian Analysis (j-ISBA); Online</span> - Extended Tail Index Regression. (Contributed Talk,
				<a class="home" href="https://baysm2025.github.io/" target="_blank" rel="noopener" class="summary-link">
					link</a>)
			</li>
			<li><span>18th International Joint Conference CFE-CMStatistics 2024 @ European Research Consortium for Informatics and Mathematics (ERCIM); London, United Kingdom</span> - BLAST: A Bayesian Lasso for Tail Index Regression Model with an Application to Extreme Wildfires in Portugal. (Contributed Talk,
				<a class="home" href="https://www.cmstatistics.org/RegistrationsV2/CFECMStatistics2024/viewSubmission.php?in=1362&token=r88no01365r1829ss013s76551n1o3r8" target="_blank" rel="noopener" class="summary-link">
					link</a>)
			</li>
			<li><span>The Past, Present and Future of Edinburgh Statistics, An RSS Pre-Conference 2024 @ Royal Statistical Society; Edinburgh, United Kingdom</span> - BLAST: A Bayesian Lasso for Tail Index Regression Model. (Invited Talk,
				<a class="home" href="https://rss.org.uk/training-events/events/events-2024/local-groups/the-past,-present-and-future-of-edinburgh-statisti/#fulleventinfo" target="_blank" rel="noopener" class="summary-link">
					link</a>)
			</li>
			<li><span>World Meeting 2024 @ International Soceity for Bayesian Analysis (ISBA); Venice, Italy</span> - A Bayesian Lasso for Tail Index Regression. (Poster,
				<a class="home" href="https://docs.google.com/document/d/13zMesBSdZYMJpXf9qkW0_VC33LynmdpCwRBVCNnbG20/edit" target="_blank" rel="noopener" class="summary-link">
					link</a>)
				</li>
			<!-- <li><span>Annual Conference 2024 @ Centre for Statistics (CoS); Edinburgh, UK</span> - A Bayesian Lasso for Tail Index Regression. (Poster,
				<a class="home" href="https://centreforstatistics.maths.ed.ac.uk/sites/default/files/atoms/files/ecr_day_2024_booklet.pdf" target="_blank" rel="noopener" class="summary-link">
					link</a>)
				</li>			
			<li><span>Early Career Researchers Day (ECR Day) 2024 @ Centre for Statistics (CoS); Edinburgh, UK</span> - A Bayesian Lasso for Tail Index Regression. (Poster,
			<a class="home" href="https://centreforstatistics.maths.ed.ac.uk/sites/default/files/atoms/files/ecr_day_2024_booklet.pdf" target="_blank" rel="noopener" class="summary-link">
				link</a>)
			</li> -->
			<!-- <li><span>Postgraduate Colloquium @ The University of Edinburgh; Edinburgh, UK</span> - Calming the Furious Inferno: Bayesian Regularisation with Smoothing for Tail Index Regression. (Invited Talk,
			<a class="home" href="https://blogs.ed.ac.uk/pgrmath/pg-colloquium/#johnnylee" target="_blank" rel="noopener" class="summary-link">
				link</a>)
			</li>
			<li><span>Student Conference 2024 @ The Maxwell Institute for Mathematical Sciences (MIGS); Edinburgh, UK</span> - Bayesian Regularisation with Smoothing for Tail Index Regression. (Contributed Talk,
			<a class="home" href="Papers\brstir\student_conference_11_and_12_jan_2024.pdf" target="_blank" rel="noopener" class="summary-link">
				link</a>)
			</li> -->
			<li><span>Bayesian Young Statistican Meeting (BAYSM) 2023 @ junior-International Soceity for Bayesian Analysis (j-ISBA); Online</span> - Bayesian Regularisation with Smoothing for Tail Index Regression. (Contributed Talk,
			<a class="home" href="https://events.stat.uconn.edu/BAYSM2023/" target="_blank" rel="noopener" class="summary-link">
				link</a>)
			</li>
			<li><span>37th International Workshop for Statistical Modelling (IWSM) 2023 @ Statistical Modelling Society (SMS); Dortmund, Germany</span> - Bayesian Regularisation for Tail Index Regression. (Poster,
			<a class="home" href="https://iwsm2023.statistik.tu-dortmund.de/" target="_blank" rel="noopener" class="summary-link">
				link</a>)
			</li>
		</ul>		
	</Container>
</Layout>

<style>
	span{
		@apply font-bold;
	}

	li{
		@apply p-2;
	}
</style>