---
// import translations
import translations from "@utils/t.ts";
import Layout from "@layouts/Layout.astro";
import Container from "@src/components/Container.astro";

const t = translations(Astro.url);
---

<Layout>
	<Container class="pt-16 lg:grid grid-cols-3 gap-4">
		<div class="lg:col-span-2">
			<img class="float-right w-5/12 m-3 lg:hidden" src="../src/assets/images/front/edin-frontpage.jpg">
			<span set:html={t.home_description} />
		</div>
		<div class="lg:col-span-1">
			<img class="hidden lg:block" src="../src/assets/images/front/edin-frontpage.jpg">
		</div>
	</Container>
	<Container class="pt-10 lg:grid grid-cols-2 gap-7">
		<div class="lg:justify-items-center">
			<span set:html={t.interest}/>
		</div>
		<div class="lg:justify-items-center">
			<span set:html={t.education}/>
		</div>
	</Container>
</Layout>
