---
// import translations from "@utils/t.ts";
import { Icon } from "astro-icon/components";
import Layout from "@layouts/Layout.astro";
import Container from "@src/components/Container.astro";	

// const t = translations(Astro.url);
---

<Layout title="Johnny MyungWon Lee - Publication List" description="List of my publications">
	<Container class="pt-5 pb-5">
		<div id="batir" class="box p-4 rounded-md">
			<div id="title" class="text-lg font-bold underline">
				<a href="#" target="_blank" rel="noopener">BLAST: A Bayesian Lasso Tail Index Regression Model with an Application to Extreme Wildfires</a>
			</div>
			<div>
				<span class="font-bold underline">Myung Won Lee</span>; <span>Miguel de Carvalho</span>; <span>Daniel Paulin</span>; <span>Soraia Pereira</span>; <span>Ricardo Trigo</span>; <span>Carlos Da Camara</span> (submitted) <br> <span id="journal" class="italic">-</span>
			</div>
			<div x-data="{ open: false }" class="pt-3">
				<ul>
					<li>
						<a href="-"  target="_blank" class="flex justify-center items-center">
							<Icon name="mdi:file-pdf-box" size={15}/>&nbsp; <span>Paper</span>
						</a>
					</li>
					<li>			
						<button class="flex justify-center items-center" x-on:click="open = ! open">
							<Icon name="academicons:google-scholar" size={15}/>&nbsp; <span>Bibtex</span>
						</button>
					</li>
					<li>
						<a href="https://github.com/johnnymdoubleu/BLAST" target="_blank" class="flex justify-center items-center">
							<Icon name="mdi:code" size={15}/>&nbsp; <span>Code</span>
						</a>
					</li>
					<li>
						<a href="-" class="flex justify-center items-center">
							<Icon name="mdi:microsoft-powerpoint" size={15}/>&nbsp; <span>Slides</span>
						</a>
					</li>
				</ul>
				<div id="bibtex" x-show="open" x-transition.duration.500ms style="white-space: pre-wrap;">
					<pre style="white-space: pre-wrap; width: 100%;" is:raw class="overflow-x-auto">@article{lee2025bayesian,
	title = {BLAST: A Bayesian Lasso Tail Index Regression Model with an Application to Extreme Wildfires},
	author = {Lee, {Myung Won} and {de Carvalho}, Miguel and Paulin, Daniel and Pereira, Soraia and Trigo, Ricardo and {Da Camara}, Carlos},
	year = {2025}
}</pre>
				</div>
			</div>
		</div>
	</Container>

	<Container class="pt-5 pb-5">
		<div id="batir" class="box p-4 rounded-md">
			<div id="title" class="text-lg font-bold underline">
				<a href="#" target="_blank" rel="noopener">Regression Models for Extreme Events (Ch 6. of Handbook on Statistics of Extremes)</a>
			</div>
			<div>
				<span>Miguel de Carvalho</span>; <span>Vianey Palacios Ramirez</span>; <span>Lígia Henriques-Rodrigues</span>; <span class="font-bold underline">Myung Won Lee</span> (2025, to appear) <br> <span id="journal" class="italic">Book Chapter, Chapman & Hall/CRC Handbook on Statistics of Extremes</span>
			</div>
			<div x-data="{ open: false }" class="pt-3">
				<ul>
					<li>
						<a href="-"  target="_blank" class="flex justify-center items-center">
							<Icon name="mdi:file-pdf-box" size={15}/>&nbsp; <span>Paper</span>
						</a>
					</li>
					<li>			
						<button class="flex justify-center items-center" x-on:click="open = ! open">
							<Icon name="academicons:google-scholar" size={15}/>&nbsp; <span>Bibtex</span>
						</button>
					</li>
					<li>
						<a href="-" class="flex justify-center items-center">
							<Icon name="mdi:code" size={15}/>&nbsp; <span>Code</span>
						</a>
					</li>
					<li>
						<a href="-" class="flex justify-center items-center">
							<Icon name="mdi:microsoft-powerpoint" size={15}/>&nbsp; <span>Slides</span>
						</a>
					</li>
				</ul>
				<div id="bibtex" x-show="open" x-transition.duration.500ms style="white-space: pre-wrap;">
					<pre style="white-space: pre-wrap; width: 100%;" is:raw class="overflow-x-auto">@incollection{decarvalho2025regression,
	title = {Regression Models for Extreme Events},
	author = {{de Carvalho}, Miguel and {Palacios Ramirez}, Vianey and Henriques-Rodrigues, Lígia and Lee, {Myung Won}},
	year = {2025, to appear},
	booktitle = {Handbook on Statistics of Extremes},
	chapter = {6},
	publisher = {Chapman \& Hall/CRC},
	pages = {101--112},
	note = {This is Chapter 6 of Handbook on Statistics of Extremes.},
	editor = {{de Carvalho}, Miguel and Huser, Raphaël and Naveau, Philippe and Reich, {Brian J.}}
}

@book{decarvalho2025handbook,
	year = {2025, to appear},
	editor = {{de Carvalho}, Miguel and Huser, Raphaël and Naveau, Philippe and Reich, {Brian J.}},
	title = {Handbook on Statistics of Extremes},
	booktitle = {Handbook on Statistics of Extremes},
	author = {{de Carvalho}, Miguel and others.},
	publisher = {Chapman \& Hall/CRC}
}</pre>
				</div>
			</div>
		</div>
	</Container>

	<Container class="pt-5 pb-5">
		<div id="discussion" class="box p-4 rounded-md">
			<div id="title" class="text-lg font-bold underline">
				<a href="https://academic.oup.com/jrsssc/article/74/2/307/7923269" target="_blank" rel="noopener">Contribution to the discussion of «<i>Inference for extreme spatial temperature events in a changing climate with application to Ireland</i>» by Healy et al.</a>
			</div>
			<div>
				<span>Jordan Richards</span>; <span class="font-bold underline">Myung Won Lee</span>; <span>Viviana Carcaiso</span>; <span>Miguel de Carvalho</span> (2025) <br> <span id="journal" class="italic">Journal of Royal Statistical Society: Series C</span>
			</div>
			<div x-data="{ open: false }" class="pt-3">
				<ul>
					<li>
						<a href="https://academic.oup.com/jrsssc/article/74/2/307/7923269" target="_blank" class="flex justify-center items-center">
							<Icon name="mdi:file-pdf-box" size={15}/>&nbsp; <span>Paper</span>
						</a>
					</li>
					<li>			
						<button class="flex justify-center items-center" x-on:click="open = ! open">
							<Icon name="academicons:google-scholar" size={15}/>&nbsp; <span>Bibtex</span>
						</button>
					</li>
					<li>
						<a href="https://github.com/johnnymdoubleu/JRSSC-discussion" target="_blank" class="flex justify-center items-center">
							<Icon name="mdi:code" size={15}/>&nbsp; <span>Code</span>
						</a>
					</li>
					<li>
						<a href="-" class="flex justify-center items-center">
							<Icon name="mdi:microsoft-powerpoint" size={15}/>&nbsp; <span>Slides</span>
						</a>
					</li>
				</ul>
				<div id="bibtex" x-show="open" x-transition.duration.500ms style="white-space: pre-wrap;">
					<pre style="white-space: pre-wrap; width: 100%;" is:raw class="overflow-x-auto">@article{richards2025,
	title={Jordan Richards, Myung Won Lee, Viviana Carcaiso, and Miguel de Carvalho's contribution to the Discussion of “Inference for extreme spatial temperature events in a changing climate with application to Ireland” by Healy et al.}
	journal = {Journal of the Royal Statistical Society Series C: Applied Statistics},
	author = {Richards, Jordan and Lee, {Myung Won} and Carcaiso, Viviana and {de Carvalho}, Miguel},
	year = {2025},
  volume={74},
  number={2},
  pages={307--309}	
	publisher={Oxford University Press}
}</pre>
				</div>
			</div>
		</div>
		<!-- <div x-data="{ expanded: false }">
      <button @click="expanded = ! expanded">Toggle</button>
      <div id="foo" x-show="expanded" x-collapse>
        Lorem ipsum
			</div>
    </div> -->
	</Container>

	<Container class="pt-5 pb-5">
		<div id="brtir" class="box p-4 rounded-md">
			<div id="title" class="text-lg font-bold underline">
				<a href="https://www.researchgate.net/publication/374809175_Bayesian_Regularisation_for_Tail_Index_Regression" target="_blank" rel="noopener">Bayesian Regularisation for Tail Index Regression</a>
			</div>
			<div>
				<span class="font-bold underline">Myung Won Lee</span>; <span>Miguel de Carvalho</span>; <span>Daniel Paulin</span>; <span>Soraia Pereira</span>; <span>Ricardo Trigo</span>; <span>Carlos Da Camara</span> (2023) <br> <span id="journal" class="italic">37<sup>th</sup> International Workshop for Statistical Modelling Proceedings</span>
			</div>
			<div x-data="{ open: false }" class="pt-3">
				<ul>
					<li>
						<a href="https://www.researchgate.net/publication/374809175_Bayesian_Regularisation_for_Tail_Index_Regression" target="_blank" class="flex justify-center items-center">
							<Icon name="mdi:file-pdf-box" size={15}/>&nbsp; <span>Paper</span>
						</a>
					</li>
					<li>			
						<button class="flex justify-center items-center" x-on:click="open = ! open">
							<Icon name="academicons:google-scholar" size={15}/>&nbsp; <span>Bibtex</span>
						</button>
					</li>
					<li>
						<a href="https://github.com/johnnymdoubleu/BLAST" target="_blank" class="flex justify-center items-center">
							<Icon name="mdi:code" size={15}/>&nbsp; <span>Code</span>
						</a>
					</li>
					<li>
						<a href="-" class="flex justify-center items-center">
							<Icon name="mdi:microsoft-powerpoint" size={15}/>&nbsp; <span>Slides</span>
						</a>
					</li>
				</ul>
				<div id="bibtex" x-show="open" x-transition.duration.500ms style="white-space: pre-wrap;">
					<pre style="white-space: pre-wrap; width: 100%;" is:raw class="overflow-x-auto">@inproceedings{lee2023bayesian,
	title = {Bayesian Regularisation for Tail Index Regression},
	author = {Lee, {Myung Won} and {de Carvalho}, Miguel and Paulin, Daniel and Pereira, Soraia and Trigo, Ricardo and {Da Camara}, Carlos}
	journal = {37th IWSM Proceedings},
	year = {2023},
	pages = {493--496},
	volume = {37},
	issue = {1},
	isbn = {978-3-947323-42-5}
}</pre>
				</div>
			</div>
		</div>
	</Container>
	<Container class="pt-5 pb-5">
		<div id="rssnal" class="box p-4 rounded-md">
			<div id="title" class="text-lg font-bold underline">
				<a href="-" target="_blank" rel="noopener">Semismooth Newton Augmented Lagrangian Method for Solving Lasso Problems with Implementation in R</a>
			</div>
			<div>
				<span class="font-bold underline">Myung Won Lee</span>; <span>Michael Renfrew</span>; <span>Daniel Paulin</span> (Coming soon) <br> <span id="journal" class="italic">-</span>
			</div>
			<div x-data="{ open: false }" class="pt-3">
				<ul>
					<li>
						<a href="-" class="flex justify-center items-center">
							<Icon name="mdi:file-pdf-box" size={15}/>&nbsp; <span>Paper</span>
						</a>
					</li>
					<li>			
						<button class="flex justify-center items-center" x-on:click="open = ! open">
							<Icon name="academicons:google-scholar" size={15}/>&nbsp; <span>Bibtex</span>
						</button>
					</li>
					<li>
						<a href="https://github.com/johnnymdoubleu/lassoSSNAL" class="flex justify-center items-center">
							<Icon name="mdi:code" size={15}/>&nbsp; <span>Code</span>
						</a>
					</li>
					<li>
						<a href="-" class="flex justify-center items-center">
							<Icon name="mdi:microsoft-powerpoint" size={15}/>&nbsp; <span>Slides</span>
						</a>
					</li>
				</ul>
				<div id="bibtex" x-show="open" x-transition.duration.500ms style="white-space: pre-wrap;">
					<pre style="white-space: pre-wrap; width: 100%;" is:raw class="overflow-x-auto">@thesis{lee2022rssnal,
	title = {Semismooth Newton Augmented Lagrangian Method for Solving Lasso Problems with Implementation in R},
	author = {Lee, {Myung Won}, Renfrew, Michael, Paulin, Daniel},
	year = {2022},
	note = {Honours degree thesis},
	school = {University of Edinburgh},
	address = {Edinburgh, United Kingdom}
}</pre>
				</div>
			</div>
		</div>
	</Container>


</Layout>

<style>
	div.box{
		box-shadow: 0px 2px 10px 0.5px;
	}
	ul {
		@apply list-none flex justify-around sm:inline-flex md:inline-block;
	}

	ul li {
		@apply mx-auto leading-5 border-0 text-xs font-bold px-2 h-9 content-center items-center text-center bg-secondary-1000 text-white md:inline-block md:mr-3 md:px-5 md:text-sm md:leading-7 hover:bg-yellow-600;
		border-radius: 4px;
	}
	ul li span{
		@apply hover:underline;
	}
</style>