---
import translations from "@utils/t.ts";
import Layout from "@layouts/Layout.astro";
import Container from "@src/components/Container.astro";

const t = translations(Astro.url);
---

<Layout title="About Me" description="Lorem ipsum dolor sit amet">
	<Container class="pt-16" set:html={t.teaching_description}>
		<!-- <div set:html={t.about_description}></div> -->
	</Container>
</Layout>

<style>
	ol{
		@apply list-decimal list-inside;
	}
	h5{
		@apply font-bold pt-2 pb-4;
	}

	h6{
		@apply font-light underline;
	}
</style>