---
/**
 * @desc This is the base head component that is used on all pages.
 */
import "@styles/global.css";
import "@fontsource/raleway";
import { SEO } from "astro-seo";
import { SITE_TITLE, SITE_DESCRIPTION, TWITTER_CREATOR } from "@src/consts";
import { getLocale } from "@utils/i18n";

interface Props {
  title: string;
  description: string;
  image?: string;
}

const locale = getLocale(Astro.url);
const canonicalURL = new URL(Astro.url.pathname, Astro.site);
const resolvedImageWithDomain = new URL("/meta/opengraph.png", Astro.site).toString();
const { title = SITE_TITLE, description = SITE_DESCRIPTION } = Astro.props;
---

<meta charset="utf-8" />
<title>{title}</title>
<SEO
  title={title}
  description={description}
  canonical={canonicalURL}
  openGraph={{
    basic: {
      url: canonicalURL,
      title,
      type: "website",
      image: resolvedImageWithDomain,
    },
    optional: {
      description,
      siteName: title,
      locale,
    },
    image: {
      alt: title,
    },
  }}
  twitter={{
    card: "summary_large_image",
    site: canonicalURL.toString(),
    title,
    description,
    image: resolvedImageWithDomain,
    imageAlt: title,
    creator: TWITTER_CREATOR,
  }}
  extend={{
    link: [
      {
        rel: "icon",
        type: "image/png",
        sizes: "32x32",
        href: "/favicon-32x32.png",
      },
      {
        rel: "icon",
        type: "image/png",
        sizes: "16x16",
        href: "/favicon-16x16.png",
      },
    ],
    meta: [
      {
        name: "generator",
        content: Astro.generator,
      },
      {
        name: "viewport",
        content: "width=device-width,initial-scale=1",
      },
      {
        name: "twitter:image",
        content: "https://user-images.githubusercontent.com/5182256/131216951-8f74f425-f775-463d-a11b-0e01ad9fce8d.png",
      },
      { name: "twitter:title", content: "Tinker Tailor Soldier Spy" },
      { name: "twitter:description", content: "Agent" },
    ],
  }}
/>
